@charset "utf-8";

@import "_reset.pcss";
@import "_vars.pcss";
@import "_mixins.pcss";

/* Initial
-----------------------------------------------------------------------------*/

body {
	background: #fff;
	color: $default-color;
	font: 13px/18px $default-font;
}
a {
	&,
	&:active {
		color: #607890;
		text-decoration: underline;
	}
	&:hover {
		color: #036;
	}
}
input, select, textarea, button {
	color: $default-color;
	font-family: $default-font;
}

/* Common
-----------------------------------------------------------------------------*/

.wrapper {
	margin: auto;
	width: 960px;
}
.inner {
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
}
.logo {

	&__link {
		display: block;
	}
}











/* Middle
-----------------------------------------------------------------------------*/

.middle {
}














/* Main
-----------------------------------------------------------------------------*/

.main {
}












/* Aside
-----------------------------------------------------------------------------*/

.aside {
}


















/* Footer
-----------------------------------------------------------------------------*/

.footer {
}












/* Blocks
-----------------------------------------------------------------------------*/











































