/* Reset
-----------------------------------------------------------------------------*/

html, body,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
address, code, img,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, th, td,
article, aside, nav, section, figure, figcaption, footer, header,
audio, video {
	margin: 0;
	padding: 0;
}
blockquote, img, fieldset, form {
	border: 0;
}
a, strong, em, b, i, small, sub, sup, img, label, th, td, audio, video {
	vertical-align: baseline;
}
applet, object, iframe,
abbr, acronym, big, cite,
del, dfn, ins, kbd, q, s, samp,
strike, tt, var, u, center, legend,
caption, tbody, tfoot, thead, tr,
canvas, details, embed,
menu, output, ruby, summary,
time, mark {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
ul, ol {
	list-style: none;
}
// Border-box FTW
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
	box-sizing: inherit;
}
