@charset "utf-8";

@import "reset";
@import "vars";
@import "mixins";

/* Initial
-----------------------------------------------------------------------------*/

html {
	overflow-y: scroll;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background: #fff;
	color: $default-color;
	font: 13px/18px $default-font;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
a {
	-webkit-text-decoration-skip: none;
	&,
	&:active {
		color: #607890;
		text-decoration: underline;
	}
	&:hover {
		color: #036;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
input, select, textarea, button {
	margin: 0;
	color: $default-color;
	font-size: 100%;
	font-family: $default-font;
}
input, select {
	vertical-align: middle;
}
input, button {
	line-height: normal;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
button,
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	margin-top: -2px;
	margin-bottom: -2px;
	padding: 0;
	border: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
.textfield {
}
img {
	vertical-align: top;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
}
td {
	vertical-align: top;
}

/* Common
-----------------------------------------------------------------------------*/

.wrapper {
	margin: auto;
	width: 960px;
}
.inner {
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
}
.logo {

	&__link {
		display: block;
	}
}











/* Middle
-----------------------------------------------------------------------------*/

.middle {
}














/* Main
-----------------------------------------------------------------------------*/

.main {
}












/* Aside
-----------------------------------------------------------------------------*/

.aside {
}


















/* Footer
-----------------------------------------------------------------------------*/

.footer {
}












/* Blocks
-----------------------------------------------------------------------------*/











































