/*
Author:     Aleks Hudochenkov
Release:    03.03.2013
-----------------------------------------------------------------------------*/

button {
	overflow: visible;
	width: auto;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
















