/*
Author:     Aleks Hudochenkov
Release:    3.10.2012
-----------------------------------------------------------------------------*/

legend {
	margin-left: -7px;
}
input[type="checkbox"] {
	vertical-align: baseline;
}
a span {
	cursor: pointer;
}

















